@import './theme.scss';
page {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border: none;
}

//******外边距原子样式******/
.mr10 {
    margin-right: 10rpx
}

.mr20 {
    margin-right: 20rpx
}

.ml10 {
    margin-left: 10rpx
}

.ml20 {
    margin-left: 20rpx
}

.mt10 {
    margin-top: 10rpx
}

.mt20 {
    margin-top: 20rpx
}

.mt30 {
    margin-top: 30rpx
}

.mb10 {
    margin-bottom: 10rpx
}

.mb20 {
    margin-bottom: 20rpx
}

.mb30 {
    margin-bottom: 30rpx
}

.pb10 {
    padding-bottom: 10rpx
}

.pb20 {
    padding-bottom: 20rpx
}

.pd25 {
    padding: 25rpx;
}

//******字体**********/
text,
view {
    font-size: $text-nm;
    color: $color-normal;
}

.color-red {
    color: red;
}

.white {
    color: #FFF
}

text.muted,
input.muted,
view.muted {
    color: $color-muted
}

.weak {
    color: $color-weak
}

.gray {
    color: $color-gray
}

.primary {
    color: $color-primary
}

.major {
    color: $color-major
}

.danger {
    color: $color-danger
}

.xl {
    font-size: $text-xl
}

.xxl {
    font-size: $text-xxl
}

.lg {
    font-size: $text-lg
}

.sm {
    font-size: $text-sm
}

.xs {
    font-size: $text-xs
}

.xxs {
    font-size: $text-xxs
}

//******带划线文本**********/
.disable_text {
    text-decoration: line-through;
    font-size: 24rpx;
    color: #ccc;
}

.container {
    border: none;
    background: #fff;
    overflow: hidden;
    min-height: 100px;
    box-sizing: border-box;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-between {
    @extend .row;
    justify-content: space-between;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.column-center {
    @extend .column;
    align-items: center;
}

.column-around {
    @extend .column;
    align-items: center;
    justify-content: space-around;
}

.column-between {
    @extend .column;
    align-items: center;
    justify-content: space-between;
}

.label {
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    color: #333;
    border: 1rpx solid #999;
    padding: 0 10px;
    border-radius: 2px;
    margin-right: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    &.primary {
        color: #fff;
        background: $color-primary;
        border: 1rpx solid $color-primary;
    }
    &.disabled {
        color: #cacaca;
        background: #eee;
        border: 1rpx solid #e5e5e5;
    }
    &.small {
        font-size: 11px;
        height: 20px;
        line-height: 18px;
        padding: 0 3px;
    }
    &.pain.primary {
        color: $color-primary;
        background: #fff;
    }
}

//******图片样式******/
@mixin icon-image($size) {
    min-height: $size;
    min-width: $size;
    height: $size;
    width: $size;
    vertical-align: middle;
}

.icon-sm {
    @include icon-image(15px);
}

.icon {
    @include icon-image(20px);
}

.icon-lg {
    @include icon-image(30px);
}

.icon-xl {
    @include icon-image(50px);
}

.icon-xxl {
    @include icon-image(60px);
}

.icon-round {
    border-radius: 50%;
}

image {
    width: 100%;
}

textarea {
    width: auto;
    height: 150px;
    display: block;
    position: relative;
    font-size: 14px;
}

icon {
    display: inline-block;
    font-size: 0;
    margin: 0 auto;
}